{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% include "bootstrap4/uni_form.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
<div class="col-10">
<form action="POST">
    {% csrf_token %}
    {{ form | crispy }}            <!--you can use    1. as_p    2. as_u     3.-->
    <button type="button" class="btn btn-danger">Submit</button>
</form>
</div>
</body>
</html>